.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar-default {
  background: none;
  border: none;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default .navbar-brand {
  color: rgb(255, 145, 29);
  color: rgba(255, 145, 29, 0.7);
}

.room-list, .room-list ul, .room-section {
  padding: 0;
}
